@define-color background #282828;
@define-color background-alt #32302f;

@define-color foreground #fbf1c7;
@define-color foreground-alt #ebdbb2;

@define-color black #282828;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #a89984;
@define-color orange #d65d0e;

@define-color bright-black #928374;
@define-color bright-red #fb4934;
@define-color bright-green #b8bb26;
@define-color bright-yellow #fabd2f;
@define-color bright-blue #83a598;
@define-color bright-purple #d3869b;
@define-color bright-aqua #8ec07c;
@define-color bright-gray #ebdbb2;

* {
  border: none;
  padding: 0px;
  min-height: 0;
  font-family: "JetBrains Mono Nerd Font";
  transition: background-color 0.3s ease-out;
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
}

#waybar > box {
  border-radius: 0px;
  border-bottom: 1.5px solid alpha(@foreground, 0.1);
  margin: 0px 0px 2px 0px;
  background-color: @background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  min-height: 20px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

#workspaces {
  margin: 0px 0px;
  transition: 0.1s ease-in-out;
  padding: 0px 0px;
}

#workspaces button {
  all: initial;
  padding: 0px 4px;
  margin: 0px 2px;
  color: @foreground;
  border: none;
  opacity: 1;
  font-weight: 900;
  transition: all 150ms ease;
}

#workspaces button.active {
  color: @background;
  background-color: @bright-yellow;
  padding: 1px 4px;
  opacity: 1;
}

#workspaces button.empty:hover,
#workspaces button:hover {
  background: transparent;
  color: @foreground;
  transition: all 150ms ease;
  opacity: 0.85;
}

#workspaces button.empty {
  opacity: 0.45;
  color: alpha(@foreground, 0.45);
}

#workspaces button.empty.active {
  opacity: 1;
  background-color: @bright-yellow;
  color: @background;
}

/* Modules styling */
#memory,
#mpris,
#custom-expand-icon,
#tray,
#cpu,
#clock,
#battery,
#network,
#pulseaudio,
#power-profiles-daemon,
#custom-seperator {
  min-width: 12px;
  padding: 0 4px;
  margin: 1px 3px 1px 3px;
  opacity: 0.9;
  color: @foreground;
}

#tray {
  opacity: 1;
}

#custom-expand-icon {
  margin-right: 0px;
  opacity: 0.4;
  font-size: 10px;
  color: @gray;
}

#network {
  margin-left: 0;
  color: @bright-blue;
}

#pulseaudio {
  color: @bright-aqua;
}

#cpu {
  color: @bright-red;
}

#memory {
  color: @bright-purple;
}

#battery {
  color: @bright-green;
}

#clock {
  color: @bright-yellow;
}

#mpris {
  color: @bright-aqua;
  opacity: 1;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-seperator {
  opacity: 0.35;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: @gray;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  margin: 0 4px;
}

#power-profiles-daemon.performance {
  color: @bright-red;
}

#power-profiles-daemon.balanced {
  color: @bright-yellow;
}

#power-profiles-daemon.power-saver {
  color: @bright-green;
}

/* Tooltip styling */
tooltip {
  padding: 4px;
  background: @background-alt;
  font-size: 10px;
  border: 1.5px solid alpha(@foreground, 0.6);
  border-radius: 8px;
}

tooltip label {
  color: @foreground-alt;
  font-weight: normal;
}

/* Hover effects */
#clock:hover,
#tray:hover,
#custom-expand-icon:hover,
#cpu:hover,
#memory:hover,
#mpris:hover,
#battery:hover,
#power-profiles-daemon:hover,
#network:hover,
#pulseaudio:hover {
  border-radius: 0px;
  opacity: 1;
  background-color: transparent;
  color: @foreground;
}

/* Battery states */
#battery.warning {
  color: @orange;
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: @bright-yellow;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: @bright-red;
  }
}

@keyframes blink {
  to {
    color: @foreground-alt;
  }
}
